@use './variables' as *;
@use './mixins' as *;
@import '~bootstrap/scss/bootstrap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.my-container{
    max-width: 1070px;
    margin: auto;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.nav-bar{
    height: 100px;
    @include dflex('between');
    .logo-img{
        width: 90px
    }
    .links{
        @include dflex();
        li{
            line-height: 97px;
            padding: 0 0.7rem;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            text-transform: uppercase;
            font-weight: bold;
            &.active{
                a{
                    color: $blue;
                }
            }
            &.active,
            &:hover{
                border-bottom: 3px solid $blue;
                cursor: pointer;
            }
        }
    }
}
.jumbo{
    background-image: url('/resources/img/jumbotron.jpg');
    background-size: cover;
    height: 400px;
    position: relative;
    .title{
        position: absolute;
        bottom: 0px; 
        transform: translate( 0, 50%);
        padding: 0.8rem;
        background-color: $blue;
        @include myText(1rem,bold);
    }
}
main{
    background-color: $dark-dc;
    .inner-main{
        padding: 2rem 0;
        .cards{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1rem;
            padding-bottom: 1rem;
            .flip-card{
                width: calc(100% / 6);
                height: 300px;
                padding: 0.5rem;
                background-color: white;
                border: 4px solid $dark-dc;
                perspective: 1000px;
                border-radius: 1rem;
                .flip-card-inner{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    .flip-card-front, .flip-card-back{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        
                    }
                    .flip-card-back{
                        transform: rotateY(180deg);
                    }
                }
                &:hover .flip-card-inner{
                    transform: rotateY(180deg);
                }
                .title{
                    @include myText(0.9rem);
                    color: black; 
                }
                .img-box{
                    height: 200px;
                    overflow: hidden;
                    margin-bottom: 0.5rem;
                }
                
            }
        }
    }
}

.icons-wrap{
    background-color: $blue;
    padding: 3rem 0;
    .icons{
        margin: auto;
        width: 80%;
        @include dflex();
    }
    
    .icon{
        @include dflex();
        width: calc(100% /5);
        padding-right: 1.5rem;
        .img-icon{
            width: 45px;
        }
        a{
            @include myText(0.9rem);
            padding-left: 0.8rem;
        }
    }
    .icon:nth-child(4) .img-icon{
        width: 25px;
    }
}

.links-footer{
    background-image: url('/resources/img/footer-bg.jpg');
    background-size: cover;
    background-position: center;        
    .links-wrap{
        @include dflex('between');
        // height: 450px;
        overflow: hidden;
            .links{
            display: flex;
            .link{
                padding: 1rem 1rem 1rem 0;
                .title{
                    @include myText(1.5rem,bold);
                    display: inline-block;
                    padding: 0.8rem 0;
                }
                li{
                    padding: 0.1rem 0;
                }
                a{
                    color: grey;

                    &:hover{
                        color: $white;
                    }
                }
            }
        }
    }
}